body{
    font-family: 'Nunito',sans-serif;
    background-color: #fcd5ce;
}

#mainNavbar {
    font-size:1.5rem;
    font-weight: 100;
}
#mainNavbar .navbar-brand{
    color:#e01c2c;
    
}
#mainNavbar .nav-link{
    color: white;
}
#mainNavbar .nav-link:hover {
    color: #e01c2c; 
}

#headingGroup h2{
    font-weight: 100;
    font-size: 3rem;
}

#secondSection .title{
    color:#e01c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

#secondSection .text-content{
    font-weight: 100;
    font-size: 1.5rem;
    color: #f498b8;
    line-height: 2;
}

.content{
    margin-bottom: 100px;
}






